# Primary requirements, required by nearly all files
numpy
pandas
sympy
scipy
scikit-learn

dill
h5py
yaml

matplotlib
seaborn

psutil

periodictable
pyswarms

# # Preferred IDE but not required
# spyder

# # Required but part of python https://github.com/sivart213/research_tools/archive/refs/tags/v0.0-apha.0.zip
# importlib_metadata
# pathlib
# python
# pip
# re
# collections
# dataclasses
# inspect
# warnings
# unicodedata
# configparser
# datetime
# logging
# shutil
# subprocess
# ast
# json